
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>

/* table */

.govuk-table__header, .govuk-table__cell {
  border: none;
}

.tab {
  display: inline-block;
  margin-left: 5px;
}

/* end of table */

/* collapsible */

.collapsible {
    background-color: #f8f8f8;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #dee0e2;
}

.collapsible:after {
    content: '\002B';
    color: black;
    font-size: 30px;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    margin-top: -45px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
}

/* end of collapsible */
  
/* timeline */

#conference-timeline {
  position: relative;
  max-width: auto;
  width: 100%;
  align-items: left;
  margin-left: 0px;

}

#conference-timeline .conference-center-line {
  position: absolute;
  width: 1px;
  height: 90%;
  top: 0;
  bottom: 0px;
  left: 7px;
  margin-left: -1px;
  background: #BFC1C3;

}
#conference-timeline .conference-timeline-content {
  padding-top: 0px;
  padding-bottom: 0px;
}

.timeline-article {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 20px 0;
}

.timeline-article .content-right-container {
  max-width: 95%;
  width: 100%;
  margin-left: -20px;
}

.timeline-article .content-right {
  position: relative;
  width: 100%;
  padding: 5px 3px;
}
.timeline-article p {
  margin: 0 0 0 20;
  padding: 0 0 0 0;
  font-weight: 400;
  color: #242424;
  font-size: 16px;
  line-height: 5px;
  position: relative;
}

.timeline-article .content-right-container {
  float: right;
}

.timeline-article .content-right:before{
  position: absolute;
  content: "";
  left: 8px;
  top: 20px;
  font-size: 23px;
  color: #fff;
}

.timeline-article .meta-date {
  position: absolute;
  top: 0;
  left: 20px;
  width: 7px;
  height: 7px;
  margin-left: -18px;
  border-radius: 100%;
  border: 1px solid #BFC1C3;
  background: #BFC1C3;
}

.timeline-article .meta-date .date {
  display: block;
  text-align: center;
  font-weight: 900;
  color: #BFC1C3;

}
.timeline-article .meta-date .date {
  font-size: 14px;
  line-height: 10px;

}

/* timeline end */

</style>

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <button class="collapsible">
          <span>
            <table style="width: 80%;">
              <tbody>
                <tr style="font-size: 18px;">
                  <th scope="row" style="border: none; padding-left: 0px;"><span style="font-weight: normal; color: #6f777b;">Priority date</span><br><span style="font-weight: normal;">12/08/2018</span></th>
                  <td scope="row" style="border: none; padding-left: 23px;"><span style="font-weight: normal; color: #6f777b;">Title number</span><br><span style="font-weight: normal;">123456789</span></td>
                  <td scope="row" style="border: none; padding-left: -20px;"><span style="font-weight: normal; color: #6f777b;">Customer name</span><br><span style="font-weight: normal;">Gilbert Stephens LLP</span></td>
                  <td scope="row" style="border: none; padding-left: -50px;"><span style="font-weight: normal; color: #6f777b;">Application type</span><br><span style="font-weight: normal;">Transfer</span></td>
                </tr>
              </tbody>
            </table>
          </span>
        </button>
          
        <div class="content">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds" style="padding-left: 0px; padding-top: -40px;">

        <div class="govuk-tabs" data-module="tabs" style="margin-top: 40px;">


  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#overview" style="font-weight: bold;">
        Overview
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#documents" style="font-weight: bold;">
        Documents
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="overview" style="border-left: none; border-right: none; border-bottom: none; padding-left: 0px; padding-right: 0px;">
    <h2 class="govuk-heading-m">Overview of application</h2>

<div class="" style="margin-top: -20px;">
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col"></th>
      <th class="govuk-table__header" scope="col"></th>
      <th class="govuk-table__header" scope="col"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row" style="font-size: medium;">Transaction type(s)</th>
      <td class="govuk-table__cell" style="font-size: medium;">DTC, COA</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row" style="font-size: medium;">Application applies to</th>
      <td class="govuk-table__cell" style="font-size: medium;">Part of the title</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row" style="font-size: medium;">Which part of the title</th>
      <td class="govuk-table__cell" style="font-size: medium;">Part edged in red</td>
      <td class="govuk-table__cell" style="font-size: medium; text-align: right;"><a href="../index.html">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"style="font-size: medium;">Value or price paid</th>
      <td class="govuk-table__cell"style="font-size: medium;">£125.000</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row" style="font-size: medium;">Fees paid</th>
      <td class="govuk-table__cell" style="font-size: medium;">£40.00</td>
      <td class="govuk-table__cell" style="font-size: medium; text-align: right;"><a href="../index.html">Change</a></td>
    </tr>
  </tbody>
</table>

</div>
  
</section>

  <section class="govuk-tabs__panel" id="documents" style="border-left: none; border-right: none; border-bottom: none; padding-left: 0px; padding-right: 0px;">
    <h2 class="govuk-heading-m">Documents lodged with this application (4)</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col" style="border-bottom: 1px solid #BFC1C3;">Document name</th>
          <th class="govuk-table__header" scope="col" style="border-bottom: 1px solid #BFC1C3;">Type</th>
          <th class="govuk-table__header" scope="col" style="border-bottom: 1px solid #BFC1C3;"></th>
          <th class="govuk-table__header" scope="col" style="border-bottom: 1px solid #BFC1C3;"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" style="font-size: medium;">Transfer</td>
          <td class="govuk-table__cell" style="font-size: medium;">Pdf</td>
          <td class="govuk-table__cell" style="font-size: medium; text-align: right;"><a href="../index.html">Preview</a></td>
          <td class="govuk-table__cell" style="font-size: medium; text-align: right;"><a href="../index.html">Open</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" style="font-size: medium;">Change of address</td>
          <td class="govuk-table__cell" style="font-size: medium;">Pdf</td>
          <td class="govuk-table__cell" style="font-size: medium; text-align: right;"><a href="../index.html">Preview</a></td>
          <td class="govuk-table__cell" style="font-size: medium; text-align: right;"><a href="../index.html">Open</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" style="font-size: medium;">Correspondence</td>
          <td class="govuk-table__cell" style="font-size: medium;">Pdf</td>
          <td class="govuk-table__cell" style="font-size: medium; text-align: right;"><a href="../index.html">Preview</a></td>
          <td class="govuk-table__cell" style="font-size: medium; text-align: right;"><a href="../index.html">Open</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" style="font-size: medium;">Correspondence</td>
          <td class="govuk-table__cell" style="font-size: medium;">Pdf</td>
          <td class="govuk-table__cell" style="font-size: medium; text-align: right;"><a href="../index.html">Preview</a></td>
          <td class="govuk-table__cell" style="font-size: medium; text-align: right;"><a href="../index.html">Open</a></td>
        </tr>
      </tbody>
    </table>

  </section>

</div>


</div>

<div class="govuk-grid-column-one-third" style="padding-top: 30px; padding-right: 0px;">
  <h3 class="govuk-heading-m">Keywords</h3>

    <div style="width: 100px; height: 30px; background-color: #6f777b; float: left; margin-top: 0px; ">
              <p class="govuk-body" style="font-size: medium; color: #FFFFFF; text-align: center; padding-top: 5px; ">Boundary</p>
            </div>
            <div style="width: 110px; height: 30px; background-color: #6f777b; float: left; margin-top: 0px; margin-bottom: 10px; margin-left: 20px; "">
              <p class="govuk-body" style="font-size: medium; color: #FFFFFF; text-align: center; padding-top: 5px;">Restriction</p>
            </div>

            <div style="width: 80px; height: 30px; background-color: #6f777b; float: left; margin-left: 0px;">
              <p class="govuk-body" style="font-size: medium; color: #FFFFFF; text-align: center; padding-top: 5px;">Charge</p>
            </div>
            <div style="width: 80px; height: 30px; background-color: #6f777b; float: left; margin-left: 20px; margin-right: 20px; margin-bottom: 10px;">
              <p class="govuk-body" style="font-size: medium; color: #FFFFFF; text-align: center; padding-top: 5px;">Merger</p>
            </div>
            <div style="width: 150px; height: 30px; background-color: #6f777b; float: left; margin-left: 0px; margin-top: 0px;">
              <p class="govuk-body" style="font-size: medium; color: #FFFFFF; text-align: center; padding-top: 5px;">Power of attorney</p>
            </div>
            <div style="width: 80px; height: 30px; background-color: #6f777b; float: left; margin-left: 20px; margin-top: 0px;">
              <p class="govuk-body" style="font-size: medium; color: #FFFFFF; text-align: center; padding-top: 5px;">Transfer</p>
            </div>

            <div style="clear: left;"></div>

  <h3 class="govuk-heading-m" style="margin-top: 30px;">Next action(s)</h3>
        <p class="govuk-body" style="font-size: medium;">Applicant is not the registered proprietor of the property.<br><br>Please review and assess evidence for 
restriction.</p>

<div style="width: 100px; height: 30px; background-color: #00823B; border-bottom: solid 2px black; float: right; margin-top: -10px;">
  <p class="govuk-body" style="font-size: medium; color: #FFFFFF; text-align: center; padding-top: 5px;">Review case</p>
</div>

<div style="clear: right;"></div>

<hr style="color: #dee0e2; margin-top: 20px;">

<div class="" style=" border-top: #dee0e2; border-bottom: #dee0e2 margin-top: 10px; margin-bottom: -5px;">
  <p class="govuk-body" style="float: left; margin-top: -3px; margin-bottom: 0px; font-size: x-large; color: #4C2C92;">&#43;</p>
  <p class="govuk-body" style="font-size: medium;"><a href="">Add action</a><span style="margin-left: 37px;"><a href="">Defer</a></span> <span style="margin-left: 37px;"><a href="">Progress later</a></span></p>  
</div>

<hr style="color: #dee0e2">

<!--p style="margin-top: -15px; font-size: medium; float: left;"><a href="">Defer</a><span style="margin-left: 30px;"><a href="">Progress later</a></span></p-->

<div style="clear: left;"></div>

<h3 class="govuk-heading-m" style="margin-top: 30px;">Activity</h3>
  
  <section id="conference-timeline">

    <div class="conference-center-line"></div>
    <div class="conference-timeline-content">
      <!-- Article -->
      <div class="timeline-article">
        <div class="content-right-container">
          <div class="content-right">
            <p class="govuk-body" style="color: #BFC1C3">Today</p>
            <p class="govuk-body">It is satis to use the address of Church...</p>
            <p class="govuk-body"> <a href="">See more</a></p>
            <p>Raised by Will Simons</p>
          </div>

        </div>
        <div class="meta-date">
          
        </div>
      </div>
      <!-- // Article -->

      <!-- Article -->
      <div class="timeline-article">
        <div class="content-right-container">
          <div class="content-right">
            <p class="govuk-body" style="color: #BFC1C3">Yesterday</p>
            <p class="govuk-body">This application received for change of...</p>
            <p class="govuk-body"> <a href="">See more</a></p>
            <p>Raised by Lila Dagli</p>
          </div>

        </div>
        <div class="meta-date">
          
        </div>
      </div>
      <!-- // Article -->


      <!-- Article -->
      <div class="timeline-article">
        <div class="content-right-container">
          <div class="content-right">
            <p class="content-complete"><a href="">See all activity</a></p>
          </div>

        </div>
        <div class="meta-date">
      <!-- // Article -->
      
    </div>

  </section>

      </div>
    
          </div>

</div> 
 

        </div>
          
        </div> 
        </div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script>

</main>
</div>


{% endblock %}
