
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>



</style>

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        </div>

        <h2 class="govuk-heading-l">TAP Prototypes</h2>

        <h3 class="govuk-heading-m">Alpha</h3>

        <h3 class="govuk-heading-m"><a href="accordian1">Prototype 1</a></h3>
        <p style="font-weight: bold;">Description:<br><span style="font-weight: normal;">Tab view. Documents tab shows table view.</span></p>

        <h3 class="govuk-heading-m"><a href="accordian2">Prototype 2</a></h3>
        <p style="font-weight: bold;">Description:<br><span style="font-weight: normal;">Tab view. Documents tab shows table view with Preview.</span></p>

        <h3 class="govuk-heading-m"><a href="accordian3">Prototype 3</a></h3>
        <p style="font-weight: bold;">Description:<br><span style="font-weight: normal;">Accordian with tab view. Keywords dispalyed along top.</span></p>

        <h3 class="govuk-heading-m"><a href="accordian4">Prototype 4</a></h3>
        <p style="font-weight: bold;">Description:<br><span style="font-weight: normal;">Accordian with tab view. Keywords dispalyed above Next action(s).</span></p>

        <h3 class="govuk-heading-m"><a href="coa-proto-1">Prototype 5</a></h3>
        <p style="font-weight: bold;">Description:<br><span style="font-weight: normal;">Tab view with thumbnails. Step 1 of process.</span></p>

        <h3 class="govuk-heading-m"><a href="coa-proto-2">Prototype 6</a></h3>
        <p style="font-weight: bold;">Description:<br><span style="font-weight: normal;">Tab view with thumbnails. Step 2 of process.</span></p>

        <h3 class="govuk-heading-m"><a href="coa-proto-3">Prototype 7</a></h3>
        <p style="font-weight: bold;">Description:<br><span style="font-weight: normal;">Tab view with thumbnails. 'Add new action' with large icon. Modal with dropdown.</span></p>

        <h3 class="govuk-heading-m"><a href="coa-proto-4">Prototype 8</a></h3>
        <p style="font-weight: bold;">Description:<br><span style="font-weight: normal;">Tab view with thumbnails. 'Add new action' with small icon. Modal with radio buttons.</span></p>



        </div>

</main>
</div>


{% endblock %}
