
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<style>

.topSeparatingLine {
  width: 100%;
  border-bottom: 4px solid #6f777b;
  margin-top: -60px;
  padding-bottom: 20px;
}

.bottomSeparatingLine {
  width: 100%;
  border-bottom: 1px solid #6f777b;
  margin-top: 0px;
  margin-bottom: 20px;
}



</style>

<div class="govuk-width-container">
  <a href="index" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

 <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

<div style="height: 0px;"></div>

<div class="">
  <img src="/public/images/round-1-proto-1-logo.png" style="width: 25%; height: 25%; position: relative;">

<div style="text-align: center; margin-top: 80px;"> 

<a href="/round-1-proto">
<h2 class="govuk-heading-l" style="color: #005ea5;">Prototype A</h2>
</a>

<a href="/round-1-proto-actions">
<h2 class="govuk-heading-l" style="color: #005ea5;">Prototype B</h2>
</a>

<a href="/round-1-proto-attachments">
<h2 class="govuk-heading-l" style="color: #005ea5;">Prototype C</h2>
</a>

</div>

<div style=" margin-bottom: 150px;"></div>

</div>


</div>
</div>

</main>
</div>


<script>

</script>
</div>


{% endblock %}
